<!doctype html>
<html lang="ru">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta content="width=device-width,initial-scale=1" name="viewport">
        <title>{% block head_title %}{% trans %}Users bundle{% endtrans %}{% endblock %}</title>
        {% block head_css %}
            <link href="{{ asset('build_compiled/css/style.css') }}" rel="stylesheet"/>
        {% endblock %}
        {% block head_js %}
            <script defer="defer" src="{{ asset('build_compiled/js/theme.js') }}"></script>
        {% endblock %}
    {% endblock %}
</head>
<body class="layout-center">

<div class="wrapper-outer">
    <div class="wrapper">
        {% block body_header %}{% endblock %}
        <div class="content">
            {% block body_content %}{% endblock %}
        </div>
        {% block body_footer %}{% endblock %}
    </div>
</div>

{% block modal %}{{ include('@User/modal/confirm.html.twig') }}{% endblock %}

{% block body_js %}{% endblock %}

</body>
</html>
